body {
  font-size: 1rem;
  line-height: 1.25;
}

@media all and (min-width: 48em) {
  body {
    font-size: 1rem;
    line-height: 1.375;
  }
}

h1, .h1 {
  font-size: 1.625rem;
  line-height: 1.15384615;
}

@media all and (min-width: 48em) {
  h1, .h1 {
    font-size: 2rem;
    line-height: 1.25;
  }
}

@media all and (min-width: 62em) {
  h1, .h1 {
    font-size: 2.25rem;
    line-height: 1.25;
  }
}

h2, .h2 {
  font-size: 1.375rem;
  line-height: 1.13636364;
}

@media all and (min-width: 48em) {
  h2, .h2 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media all and (min-width: 62em) {
  h2, .h2 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}

h3, .h3 {
  font-size: 1.125rem;
  line-height: 1.11111111;
}

@media all and (min-width: 48em) {
  h3, .h3 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.25;
}

@media all and (min-width: 48em) {
  blockquote {
    font-size: 1.5rem;
    line-height: 1.45833333;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  color: rgb(109, 130, 136);
}

a, a:visited, a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #F5F5F5;
  color: #545E6C;
  font-family: 'Open Sans', sans-serif;
  padding: 1.44rem 0;
}

body article#cv {
  background-color: #FFF;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 1.44rem;
}

@media all and (min-width: 48em) {
  body article#cv {
    display: flex;
    max-width: 75rem;
    padding: 2.88rem;
  }
}

body article#cv > div > section > h2 {
  text-align: center;
}

body article#cv > div#sidebar {
  margin: 0 auto;
  min-width: 17.5rem;
  max-width: 17.5rem;
}

@media all and (min-width: 48em) {
  body article#cv > div#sidebar {
    border-right: 0.0625rem groove rgba(168, 167, 167, 0.6);
    padding-right: 1.44rem;
  }
}

body article#cv > div#sidebar > section#about {
  text-align: center;
}

body article#cv > div#sidebar > section#about > figure > img {
  border: 0.125rem solid #545E6C;
  border-radius: 0.3125rem;
  max-width: 80%;
  max-height: 80%;
}

body article#cv > div#sidebar > section#about > h1 {
  font-size: 1.5rem;
}

body article#cv > div#sidebar > section#links > ul > li {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 0.875rem;
  padding-left: 1.25rem;
}

body article#cv > div#sidebar > section#links > ul > li:nth-of-type(1) {
  background-image: url("../img/address.svg");
}

body article#cv > div#sidebar > section#links > ul > li:nth-of-type(2) {
  background-image: url("../img/telephone.svg");
}

body article#cv > div#sidebar > section#links > ul > li:nth-of-type(3) {
  background-image: url("../img/mail.svg");
}

body article#cv > div#sidebar > section#links > ul > li:nth-of-type(4) {
  background-image: url("../img/linkedin.svg");
}

body article#cv > div#sidebar > section#links > ul > li:nth-of-type(5) {
  background-image: url("../img/github.svg");
}

body article#cv > div#sidebar > section#education > ul > li > h3, body article#cv > div#sidebar > section#education > ul > li > h4 {
  margin: 0;
}

body article#cv > div#sidebar > section#education > ul > li > h4 {
  font-weight: normal;
}

body article#cv > div#sidebar > section#education > ul > li:not(:last-child) {
  margin-bottom: 0.72rem;
}

body article#cv > div#sidebar > section#langs > ul {
  max-width: 45%;
}

body article#cv > div#sidebar > section#langs > ul > li > h3 {
  display: flex;
  justify-content: space-between;
}

body article#cv > div#sidebar > section#langs > ul > li > h3 > span.level {
  font-size: 80%;
  font-weight: normal;
  line-height: 1.7;
}

@media all and (min-width: 48em) {
  body article#cv > div#content {
    padding-left: 1.44rem;
  }
}

body article#cv > div#content > section {
  padding: 20px;
}

body article#cv > div#content > section:not(:last-child) {
  background: linear-gradient(to right, transparent 25%, rgba(116, 116, 116, 0.5) 25%, rgba(116, 116, 116, 0.5) 75%, transparent 75%) no-repeat bottom;
  background-size: 100% 1px;
}

body article#cv > div#content > section#tools {
  padding: 20px;
}

body article#cv > div#content > section#tools > ul {
  margin-bottom: 20px;
}

body article#cv > div#content > section > h2 {
  color: #545E6C;
  line-height: 1.75;
  margin-block-start: 0;
}

body article#cv > div#content > section#experiences > div > h3, body article#cv > div#content > section#experiences > div > h4, body article#cv > div#content > section#projects > div > h3, body article#cv > div#content > section#projects > div > h4 {
  margin: 0;
}

body article#cv > div#content > section#experiences > div > h3, body article#cv > div#content > section#projects > div > h3 {
  display: flex;
  justify-content: space-between;
  margin: 1.44rem 0 0.36rem 0;
}

body article#cv > div#content > section#experiences > div > h3 > span.period, body article#cv > div#content > section#projects > div > h3 > span.period {
  color: rgba(116, 116, 116, 0.6);
  font-size: 80%;
  font-weight: normal;
}

body article#cv > div#content > section#experiences > div > h4, body article#cv > div#content > section#projects > div > h4 {
  color: rgba(116, 116, 116, 0.6);
  font-weight: normal;
  margin-bottom: 0.72rem;
}

body article#cv > div#content > section#experiences > div > ul, body article#cv > div#content > section#projects > div > ul {
  list-style: square;
  padding-left: 2.5rem;
}

@media print {
  body {
    background: none;
    padding: 0;
  }

  body article#cv {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
